<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <h1>Demo</h1>
      <iframe
        src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FKolkata&showTitle=0&showPrint=0&src=MzNjNjcwMTNkNTc4NGMxZTBkMmI5YmM3NzgyNjRlMzlkZmQ2MWQ3MmYxOThmZTAzNmFlMWMyZjI5NTA3NDA0NEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23AD1457&color=%230B8043"
        style="border: solid 0px #777"
        width="400"
        height="250"
        frameborder="0"
        scrolling="no"
      ></iframe>
  </body>
</html>
